<html>
    <head>
        <style type="text/css">
table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:13px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;

}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;

}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;

}

        </style>

    </head>
    <div align="center">
        <table class="gridtable">
            <tr><th> svc_name </th> <th>status</th></tr>
            {% for svc in sorted(svc_list) %}
            <tr> <td> {{ svc  }}</td>  <td><img src="png/{{ svc }}.png"/></td></tr>
            {% end %}

        </table>
    </div>
</html>
